In [1]:
import json
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy.stats import pearsonr, spearmanr

In [12]:
corona_df = pd.read_csv('../data/processed/DE_Corona.csv')

weather_df = pd.read_csv('../data/processed/DE_Weather.csv')

df = pd.read_csv('../data/processed/DE_Weather+Corona.csv')


oiw_df = pd.read_csv('../data/processed/DE_OIW.csv')

oiw_df

,Unnamed: 0,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,56141,DEU,Europe,Germany,2020-01-27,1.0,1.0,NaN,NaN,NaN,...,28.2,33.1,NaN,8.0,81.33,0.947,NaN,NaN,NaN,NaN
1,56142,DEU,Europe,Germany,2020-01-28,4.0,3.0,NaN,NaN,NaN,...,28.2,33.1,NaN,8.0,81.33,0.947,NaN,NaN,NaN,NaN
2,56143,DEU,Europe,Germany,2020-01-29,4.0,0.0,NaN,NaN,NaN,...,28.2,33.1,NaN,8.0,81.33,0.947,NaN,NaN,NaN,NaN
3,56144,DEU,Europe,Germany,2020-01-30,4.0,0.0,NaN,NaN,NaN,...,28.2,33.1,NaN,8.0,81.33,0.947,NaN,NaN,NaN,NaN
4,56145,DEU,Europe,Germany,2020-01-31,5.0,1.0,NaN,NaN,NaN,...,28.2,33.1,NaN,8.0,81.33,0.947,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,56888,DEU,Europe,Germany,2022-02-12,12391463.0,116810.0,189473.857,119939.0,58.0,...,28.2,33.1,NaN,8.0,81.33,0.947,NaN,NaN,NaN,NaN
748,56889,DEU,Europe,Germany,2022-02-13,12454304.0,62841.0,186685.000,119981.0,42.0,...,28.2,33.1,NaN,8.0,81.33,0.947,NaN,NaN,NaN,NaN
749,56890,DEU,Europe,Germany,2022-02-14,12628843.0,174539.0,204279.571,120227.0,246.0,...,28.2,33.1,NaN,8.0,81.33,0.947,NaN,NaN,NaN,NaN
750,56891,DEU,Europe,Germany,2022-02-15,12692053.0,63210.0,158933.571,120277.0,50.0,...,28.2,33.1,NaN,8.0,81.33,0.947,NaN,NaN,NaN,NaN
751,56892,DEU,Europe,Germany,2022-02-16,13093881.0,401828.0,180221.429,120732.0,455.0,...,28.2,33.1,NaN,8.0,81.33,0.947,NaN,NaN,NaN,NaN