# First Year Project - Project 1 - Corona and Weather

## Here importing the libraries required to run all the code
* [Pandas Documentation](https://pandas.pydata.org/docs/)
* [Numpy Documentation](https://numpy.org/doc/)
* [Folium Documentation](https://python-visualization.github.io/folium/)
* [Json Documentation](https://docs.python.org/3/library/json.html)
* [Statsmodels Documentation](https://www.statsmodels.org/stable/)
* [Scipy Documentation](https://scipy.github.io/devdocs/index.html)
* [Seaborn Documentation](https://seaborn.pydata.org/)

In [39]:
#Importing needed libraries
import pandas as pd
import numpy as np
import folium, json
import statsmodels.api as sm
from scipy.stats import pearsonr, spearmanr
from statsmodels.stats.multitest import multipletests
import seaborn as sns

### Task 0: Data filtering and cleaning

In [48]:
# Read comma-separated values (csv) file into pandas DataFrame
data = pd.read_csv("../../Data/raw/weather/weather.csv")

# A processed data set that contains only relevant fields and records 
is_DE = data[data['iso3166-2'].str.startswith('DE')]


is_DE.describe()

,RelativeHumiditySurface,SolarRadiation,Surfacepressure,TemperatureAboveGround,Totalprecipitation,UVIndex,WindSpeed
count,6000.000000,6.000000e+03,6.000000e+03,6000.000000,6000.000000,6000.000000,6000.000000
mean,74.332120,6.678336e+06,2.379588e+06,283.281258,0.002206,16.050800,3.503221
std,13.595421,6.212940e+06,5.121144e+04,7.146610,0.003439,14.515517,1.438837
min,33.880265,0.000000e+00,2.212828e+06,260.531714,0.000000,0.000000,1.091346
25%,64.268213,1.090176e+06,2.343795e+06,277.837390,0.000054,2.500231,2.427226
50%,76.469758,4.610296e+06,2.385826e+06,283.228645,0.000684,12.720154,3.202055
75%,85.703146,1.150929e+07,2.422283e+06,288.872994,0.002907,27.398392,4.261427
max,98.264247,2.370823e+07,2.497243e+06,300.960922,0.031971,52.792235,11.221876

In [44]:
df = pd.read_csv("../../Data/processed/Weather+Cases_DE.csv")
corona_df = pd.read_csv("../../Data/processed/de_corona.csv")
case_by_region = corona_df.groupby(["date" ,"iso3166-2"]) ["confirmed_addition"].sum().reset_index()
case_by_region
case_by_region = case_by_region.set_index(['iso3166-2', case_by_region.index])
case_by_region

                      date  confirmed_addition
iso3166-2
DE-NW     0     2020-01-02                   1
          1     2020-01-07                   1
          2     2020-01-09                   1
          3     2020-01-12                   1
          4     2020-01-14                   1
...                    ...                 ...
DE-RP     5597  2021-02-21                 120
DE-SH     5598  2021-02-21                 113
DE-SN     5599  2021-02-21                  68
DE-ST     5600  2021-02-21                  84
DE-TH     5601  2021-02-21                 131

[5602 rows x 2 columns]